/.DS_Store
/.localized
/.vscode
/101463_FS_F16_20-21.pdf
/1615386227680.pdf
/46b0a099-f965-40f4-96d7-60c539323c70.JPG
/ANKIT BANSAL-Unsubmitted (2).pdf
/Ankit Bansal - International+Mobility+cost+projection+form .pages
/Ankit Bansal Benefits.pdf
/Ankit Bansal-Male26 years-1937 (1).pdf
/Ankit_Resume_2023.docx
/Ankit_Resume_2023.pages
/Ankit_Resume_2023.pdf
/Ankit_Resume_Aug.pages
/Ankit_Resume_Feb (1).docx
/Ankit_Resume_Feb (1).pages
/Ankit_Resume_Feb.docx
/Ankit_Resume_Feb.pages
/Ankit_Resume_March.docx
/Ankit_Resume_Oct.docx
/Ankit_Resume_Oct.pages
/Barclays Id verification docs.zip
/Barclays V04 My Rewards Info Book BPSP_20230118 (1).pdf
/Barclays V04 My Rewards Info Book BPSP_20230118 (2).pdf
/Barclays V04 My Rewards Info Book BPSP_20230118.pdf
/Bill_13130129.pdf
/Bill_13380823.pdf
/C9888550_Signed_OfferLetter-2.pdf
/C9888550_Signed_OfferLetter.pdf
/CG Offer Letter.pdf
/CleanArchitecture.zip
/CoS dEC 2021-C2I2J37654B-Bansal.pdf
/DELL Offer 2021.pdf
/Detailed Terms and Conditions.pdf
/Docker.dmg
/ELECTION COMMISSION OF INDIA.pdf
/FS Sickness Absence Policy FINAL  V2.pdf
/HT2203I000017581.pdf
/IMG_1423.HEIC
/IMG_20220822_160620.jpeg
/IndusIndFD.pdf
/Infy_Application form - Lateral - 8.2.pdf
/Interest Certificate876987661.pdf
/LicForm.pdf
/Maintainence Letter - Bansal Ankit.pdf
/Monzo_bank_statement_2022_01_25-2022_01_26_2959.pdf
/OfferCover.pdf
/Pay Slips.zip
/Payslip-50509135-30-June-2023.pdf
/Payslip-50509135-31-July-2023.pdf
/Payslip-50509135-31-May-2023.pdf
/Postgres-2.6.8-16.dmg
/RESEARCH ASSISTANT CV.pdf
/RESIDENCE PERMIT.pdf
/Rent-Reciept.pdf
/RightToWorkShareCode.pdf
/SIGNATURE.jpg
/Salary Slip Aug21-1.pdf
/Salary Slip May21-1.pdf
/Salary Slip May21-2.pdf
/Signed dell offer2021.pdf
/Visa.pdf
/acknowledgement (003)_signed.pages
/ashima jain.pdf
/doc 2021-10-27 10.39.44.pdf
/iCloud Photos from Amol Ankit
/loan document
/loan document.zip
/node-v20.9.0.pkg
/ticket.pdf